Repository UVicRocketry/Xenia1-Flight-Computer, pull requests merged in 2022-07, with the labels that each got.

#114 Refactor sensors
  src/__init__.py
  src/rocketData.py
  src/sensors/__init__.py
  src/sensors/adx.py
  src/sensors/bme.py
  src/sensors/lsm.py
  src/sensors/safe_value.py
Labels: Rocket

#116 X1-AV-38 Add HX711
  src/sensors/hx711s.py
Labels: New Feature, Rocket

#118 Add Gource Script
  .gitignore
  script/gource_animation.sh
  script/uvr_logo.png
Labels: Not the Rocket

#121 Fixing Schematic Issues with Formatting, Labels, and Errors
  .gitignore
  Xenia-1-rocket-schematic.sch/Rocketry_project.kicad_sym
  Xenia-1-rocket-schematic.sch/Xenia-1-rocket-schematic.sch.kicad_sch
Labels: :zap: Hardware

#132 rocket data refactor
  src/dataHandler.py
  src/rocketData.py
  src/sensors/adx.py
  src/sensors/bme.py
  src/sensors/hx711s.py
  src/sensors/lsm.py
  src/sensors/safe_value.py
Labels: Rocket

#135 Added flight_computer.py and FlightComputer class
  pip_list.txt
  src/airbrakes.py
  src/flight_computer.py
  src/main.py
  src/rehearsal.py
  src/rocketData.py
  src/sensors/adx.py
  src/sensors/bme.py
  src/sensors/hx711s.py
  src/sensors/lsm.py
Labels: Rocket
